<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>List a CD</title>
</head>
<body>
    <div class="container">
        <h1>List your CD!</h1>
        <form action="/show" method="post">
            <div class="form-group">
                <label for="title">Title:</label>
                <input id="title" name="title" class="form-control" type="text">
            </div>
            <div class="form-group">
                <label for="artist">Artist:</label>
                <input id="artist" name="artist" class="form-control" type="text">
            </div>
            <button type="submit" class="btn-success">Submit</button>
        </form>
        <a href="/list">View Existing CDs</a>
    </div>
</body>
</html>
