<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>CD Search</title>
</head>
<body>
<div class='container'>
<h1>Search CD List by Artist</h1>
<form  action='/cd_search' method="get">
    <div class='form-group'>
        <label for='artist'>Enter Artist:</label>
        <input type='text' name='artist'>
    </div>
    <button type='submit' class='btn-success'>Submit</button>
</form>
<a href="/list">See All CDs</a>
</div>
</body>
</html>
